.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-description, .hero-illustration {
    width: 50%;
}
.hero-description {
    align-self: flex-start;
    margin-top: 2rem;
}
.hero-description h1 {
    font-size: 38px;
    font-weight: 600;
}
.hero-description .text {
    margin: 1rem 0;
    font-size: 18px;
}
ul li {
    list-style: none;
    padding: 0.5rem 0;
    font-weight: 300;
}

.hero-img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

@media screen and (max-width:802px) {
    .header {
        flex-direction: column-reverse;
    }
    .hero-description, .hero-illustration {
        width: 100%;
        margin: 1rem auto;
    }
    .hero-illustration {
        display: none;
    }
}