.card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
@media screen and (max-width: 439px) {
    .card-container {
        justify-content: space-around;
    }
}