.card {
    min-width: 150px;
    min-height: 50px;
    text-align: center;
    border-radius: 4px;
    margin: 1rem;
    padding: 8px 15px;
    background-color: #fafcff;
    transition: all ease-in-out 300ms;
}
.card:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.card h2 {
    font-weight: 400;
}